<h1 class="text-center mt-4">Appliances</h1>

<div class="table-responsive mx-5">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Name</th>
        <th>State</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <% @appliances.each do |appliance| %>
        <%= turbo_stream_from appliance %>
        <tr id="<%= dom_id(appliance)%>">
          <%= render partial: 'appliance', locals: { appliance: appliance } %>
        </tr>
      <% end %>
    </tbody>
  </table>
  <% if false %>
  <%= link_to 'New Appliance', new_appliance_path, class: 'btn btn-primary' %>
  <% end %>
</div>

<br>

